* {
    margin: 0%;
    padding: 0%;
    border: 0px;
}

.main {
    width: 428px;
    height: 926px;
    background-color: #DCAFAF;
}

.mcrat {
    position: absolute;
    top:468px;
    left: 0px;
}

@media (min-width:1025px) {  
    .centertheshit{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}   