.leht{
    position: relative;
    width: 428px;
    height: 926px;
    background: #F07B7B;
}

a{
    margin-top: 14px;
    width: 394px;
    height: 95px;
    margin-left: 10px;
    border-radius: 30px;
    font-size: 30px;
    background: #F85A5A;

}

.sugu{
    margin-top: 100px;
    margin-left: 10px;
    font-size: 30px;
}

.huvitatud{
    margin-top: 120px;
    font-size: 30px;
    margin-left: 10px;
}

.jatka{
    margin-top: 200px;
}

@media (min-width:1025px) {  
    .centertheshit{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
} 