* {
    margin: 0%;
    padding: 0%;
    border: 0px;
}

.main {
    width: 428px;
    height: 926px;
    background-color: #DCAFAF;
}

.rengo {
    filter: drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.25));
}

.rengo1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30px;
}

.rengo2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 5px    ;
}

.likeno {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 826px;
    background-color: #F07B7B;
    height: 100px;
    width: 428px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.yes {
    background-image: url("/img/approved.png");
    width: 100px;
    height: 100px;
    background-size: cover;
}

.no {
    background-image: url("/img/denied.png");
    width: 100px;
    height: 100px;
    background-size: cover;
}

@media (min-width:1025px) {  
    .centertheshit{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}   